/******* LANDING PAGE STYLES *******/

/* bg-color #EBF4FF */
/* First CTA #2979ED */
/* Footer bg-color & Second CTA text #0A459E */
/* Second CTA #FFBE3B */

* {
    margin: 0;
    font-family: 'Open Sans';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #EBF4FF;
}

.logo-container {
    width: 35%;
}

.logo-container img {
    width: 100%;
}

button {
    font-size: .8rem;
    font-weight: bold;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

header button {
    background-color: #2979ED;
    color: #FFFF;
}

.marketing-services-section {
    padding: 4rem 1rem;
    background-color: #EBF4FF;
}

.marketing-services-section h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: lighter;
    line-height: 1;
    padding-bottom: 1rem;
}

p {
    font-size: 1rem;
    text-align: center;
}

.two-column-section {
    padding: 1.5rem 1rem;
}

.two-column-section .img-container {
    width: 100%;
    padding: 2rem 0;
}

.two-column-section h2, footer h2 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: lighter;
}

.two-column-section .img-container img {
    width: 100%;
}

footer {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A459E;
    color: #FFFF;
}

footer button {
    margin-top: 2rem;
    background-color: #FFBE3B;
    color: #0A459E;
    font-weight: bold;
}


@media (min-width: 481px) {
    p {
        font-size: .8rem;
        text-align: left;
    }

    .logo-container {
        width: 15%;
    }

    button {
        font-size: .6rem;
        border-radius: 50px;
        border: none;
    }

    .marketing-services-section {
        padding: 2.5rem 4rem;
    }
    
    .marketing-services-section h1 {
        font-size: 1.8rem;
        width: 60%;
        text-align: left;
    }

    .marketing-services-section p {
        width: 70%;
    }
    
    .two-column-section {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 2rem 3rem;
        gap: 1rem;
    }

    .two-column-section .left {
        flex: 1;
    }

    .two-column-section .right {
        flex: 1;
    }

    .two-column-section h2, footer h2 {
        font-size: 1.2rem;
        text-align: left;
    }

    .two-column-section h2 {
        margin-bottom: 1rem;
    }
    
    .two-column-section .img-container img {
        width: 100%;
    }


}

@media (min-width: 769px) {
    p {
        font-size: 1rem;
    }

    button {
        font-size: .8rem;
        padding: .5rem 1.5rem;
    }

    header {
        padding: 0 2rem;
    }
    .logo-container {
        width: 10%;
        max-width: 100px;
    }

    .marketing-services-section {
        padding: 6rem 8rem;
    }
    
    .marketing-services-section h1 {
        font-size: 2.2rem;
        width: 45%;
    }

    .marketing-services-section p {
        width: 55%;
    }


    .two-column-section {
        padding: 6rem 8rem;
        gap: 3rem;
    }

    .two-column-section h2, footer h2 {
        font-size: 2rem;
    }

    .two-column-section h2 {
        margin-bottom: 1rem;
    }

}

@media(min-width: 1024px) {
    p {
        font-size: 1.2rem;
    }

    .marketing-services-section {
        padding: 8rem 9rem;
    }
    
    .marketing-services-section h1 {
        font-size: 3.2rem;
        width: 37%;
    }

    .marketing-services-section p {
        width: 50%;
    }

    .two-column-section {
        padding: 8rem 9rem;
        gap: 3rem;
    }

    .two-column-section h2, footer h2 {
        font-size: 2rem;
    }

    .two-column-section h2 {
        margin-bottom: 1rem;
    }
}



#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #popup.hidden {
    display: none;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: left;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }

  #popupForm {
    display: flex;
    flex-direction: column;
  }
  
  .popup-content label {
    display: block;
    margin-top: 10px;
  }
  
  .popup-content input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #sendButton {
    width: 100%;
    margin: 0 auto;
    max-width: 100px;
    background-color: #FFBE3B;
    color: #0A459E;
  }
  
  #sendButton:hover {
    background-color: #e6a900;
  }
  
  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: red;
  }
